<!DOCTYPE html>
{% block footer %}
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="widget">
						<h3 class=" mb-4">A propos</h3>
						<p>Bienvenue sur notre site de moto ! Nous sommes une communauté passionnée qui se consacre à l'art de la moto. Notre objectif est de rassembler les motards du monde entier et de leur fournir une source inépuisable d'informations, d'inspiration et de divertissement.
                        Sur notre site, vous trouverez une vaste gamme de contenus dédiés à la moto, allant des actualités sur les derniers modèles et les événements à ne pas manquer, aux conseils techniques et aux guides d'achat pour vous aider à choisir la moto qui correspond le mieux à vos besoins et à votre style de conduite.</p>
					</div>
					<div class="widget">
						<h3>Reseaux</h3>
						<ul class="list-unstyled social">
							<li><a href="https://www.instagram.com/"><span class="icon-instagram"></span></a></li>
							<li><a href="https://www.twitter.com/"><span class="icon-twitter"></span></a></li>
							<li><a href="https://www.facebook.com/"><span class="icon-facebook"></span></a></li>
							<li><a href="https://www.linkedin.com/"><span class="icon-linkedin"></span></a></li>
						</ul>
					</div><!-- /.widget -->
				</div> 
			</div> 

			<div class="row mt-5">
				<div class="col-12 text-center">
                    <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://github.com/HeimerichHans/framework-symfony">Chaps</a>  Distributed by <a href="https://github.com/HeimerichHans/framework-symfony">Chaps</a>
                    </p>
                </div>
            </div>
        </div> 
    </footer> 
{% endblock %}